<app-toolbar></app-toolbar>
<div class="outerSqure" *ngIf="isOn">
    <div id="headline" style="text-align:center">
        <p id="introTxt" style="text-align: center">This Quiz includes multi choices Questions
            <br> Once you press the button "Start Now", a 5 minutes timer will start and will not stop
            <br> Your goal answer correctly & being as fast a possible
            <br> Are you ready? <br>
    </div>
    <button id="quizBtn" routerLink="/questions" (click)='startQuiz()'>Start</button>
</div>