<mat-card>
    <h1 style="text-align: center">E-learning SQL Injections - Register</h1>
    <h2 style="text-align: center">fill your Login Details</h2>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
        <mat-form-field id="emailField">
            <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
            <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>
        <mat-form-field id="passwordField">
            <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>
        <mat-form-field id="firstNameField">
            <input type="text" name="FirstName" ngModel matInput placeholder="First Name">
        </mat-form-field>
        <mat-form-field id="lastNameField">
            <input type="text" name="LastName" ngModel matInput placeholder="Last Name">
        </mat-form-field>
        <button id="registerBtn" mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Register Now</button>
    </form>
</mat-card>