<app-toolbar></app-toolbar>
<div class="outerSqure">
    <p class="intro" style="text-align: left;">
        SQL injection is a technique used to exploit user data through web page inputs by injecting SQL commands as statements.
        <br> Basically, these statements can be used to manipulate the application’s web server by malicious users.
    </p>
    <ul class="intro">
        <li>SQL injection is a code injection technique that might destroy your database.</li>
        <li>SQL injection is one of the most common web hacking techniques.</li>
        <li>SQL injection is the placement of malicious code in SQL statements, via web page input.</li>
    </ul>
    <table class="res">
        <tr>
            <th>Site</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>
                <a href="https://www.w3schools.com/sql/sql_injection.asp">SQL Injection - w3schools</a>
            </td>
            <td>Good Tutorials for begginers.</td>
        </tr>
        <tr>
            <td>
                <a href="https://www.owasp.org/index.php/SQL_Injection">SQL Injection - OWASP</a>
            </td>
            <td>worldwide not-for-profit charitable organization focused on improving the security of software.</td>
        </tr>
        <tr>
            <td>
                <a href="https://www.hackthis.co.uk/articles/blind-sql-injection">SQL Injection - hackthis</a>
            </td>
            <td>Blind SQL Injection Tutorial - Recommended!</td>
        </tr>
    </table>

</div>