<app-toolbar></app-toolbar>
<div class="outerSqure">
    <p id="introTxt" style="text-align: center">
        There is a lot of Resources for SQL Injections,
        <br> here some of a great resources to use:
    </p>
    <table class="res">
        <tr>
            <th>Site</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>
                <a href="https://www.w3schools.com/sql/sql_injection.asp">SQL Injection - w3schools</a>
            </td>
            <td>Good Tutorials for begginers.</td>
        </tr>
        <tr>
            <td>
                <a href="https://www.owasp.org/index.php/SQL_Injection">SQL Injection - OWASP</a>
            </td>
            <td>worldwide not-for-profit charitable organization focused on improving the security of software.</td>
        </tr>
        <tr>
            <td>
                <a href="https://www.hackthis.co.uk/articles/blind-sql-injection">SQL Injection - hackthis</a>
            </td>
            <td>Blind SQL Injection Tutorial - Recommended!</td>
        </tr>
    </table>

</div>