.outerSqure {
    background-color: white;
    opacity: 0.83;
    color: darkgreen;
    width: 80%;
    margin: 0 auto;
    height: 80%;
}

.intro {
    font-size: 25px;
    font-family: serif;
    padding-bottom: 10px;
}

table,
th,
td {
    border: 2px solid black;
    font-size: 40px;
    font-family: serif;
    margin-left: 10px;
    padding-top: 10px;
}

td {
    width: auto;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}

a {
    color: darkgreen;
    text-decoration: underline;
    padding: 10px;
}