body {
    height: 100%;
    /* background-color: black; */
    margin: 0;
}

h1 {
    color: white;
}

.headline {
    padding-bottom: 10%;
}

.mat-raised-button {
    font-size: 33px;
    width: 28%;
    padding: 14px;
    padding-top: 1%;
}