<app-toolbar></app-toolbar>
<div class="intro">
    <div id="headline" style="text-align:center">
        <p id="introTxt" style="text-align: center">This portal's main goal is to teach and rise awareness to the dangers of SQL injections.<br> you can learn more about SQL Injections is "Resource" part.<br> If you Feel Ready, Test your knowledge with this Quiz.<br> Good Luck!
        </p>
    </div>
    <button id="quizBtn" routerLink="/quiz">Take a Quiz now!</button>

    <!-- <app-ScoreTable></app-ScoreTable> -->
</div>