body {
    height: 100%;
    /* background-color: black; */
    margin: 0;
}

h1 {
    color: red;
}

.headline {
    padding-bottom: 10%;
}

.mat-raised-button {
    font-size: 33px;
    width: 31%;
    padding: 14px;
    padding-top: 1%;
    top: 240px;
}

#headline {
    color: red;
}