<mat-toolbar>
    <span class="gap" routerLink="/home">Home</span>
    <span routerLink="/resources" id="resources" style="cursor: pointer;">Resources</span>
    <span routerLink="/topScore" id="resources" style="cursor: pointer; padding-left: 10px;">Score Table</span>
    <span class="filler"></span>
    <p id="title">{{ title }}</p>
    <span style="cursor: pointer" (click)='logout()'>Log Out</span>
</mat-toolbar>
<div class="welcome">
    <p style="color:white; font-size: 25px;font-family: serif;font-weight: bold;">Welcome, {{currentUser.firstName}}! , level: {{currentUser.level}}</p><br>
</div>